### Load Libraries

In [147]:
# Load dependencies
import pandas as pd
import numpy as np
import json
import os

### Read the txt with total users file

In [128]:
# Read all users
df_all_users = pd.read_csv('data/install_log.csv', names=['nickname', 'DateStart','GamificationStart'])
# Keep only the last installation to drop duplicate or truplicates
df_all_users = df_all_users.drop_duplicates(subset='nickname', keep='last')
df_all_users

         nickname   DateStart  GamificationStart
1          TheArk  2017-04-11                  0
2        Federico  2017-04-11                  1
3   evakuruczleki  2017-04-11                  0
4            Shan  2017-04-11                  1
5           Giada  2017-04-11                  0
7           myrto  2017-04-11                  0
8         ARDecre  2017-04-11                  1
10          Shani  2017-04-11                  1
11   MarioStefano  2017-04-11                  0
12          Ricky  2017-04-12                  1
15        Redevil  2017-04-12                  0
16       billfill  2017-04-13                  1
17          benni  2017-04-16                  0
18   RickyDevelop  2017-04-19                  1
19       balhbdhd  2017-04-24                  0
20   FedeCornalba  2017-03-22                  1

### Read the JSON files from directory

In [2]:
# Read the directory with the data and save file_names in a list
path_to_json_files = 'data/'
json_files = [single_json for single_json in os.listdir(path_to_json_files) if single_json.endswith('.json')]

In [3]:
json_files

['Phrasebook_Dump_aggelos_NOGamification_2017_04_25.json',
 'Phrasebook_Dump_ARDecre_YESGamification_2017_04_23.json',
 'Phrasebook_Dump_Bill Bilalis_NOGamification_2017_04_22.json',
 'Phrasebook_Dump_FedeCornalba_NOGamification_2017_04_11.json',
 'Phrasebook_Dump_FedeCornalba_YESGamification_2017_04_17.json',
 'Phrasebook_Dump_Federico_YESGamification_2017_04_26.json',
 'Phrasebook_Dump_Giada_NOGamification_2017_04_22.json',
 'Phrasebook_Dump_MarioStefano_NOGamification_2017_04_23.json',
 'Phrasebook_Dump_myrto_NOGamification_2017_04_22.json',
 'Phrasebook_Dump_TheArk_NOGamification_2017_04_21.json']

Keep filenames as reference for later feeding

### Usefull functions

In [92]:
# Create a function that gets the date of a datetime string
def getDate(s):
    first_split = s.split(' ')[0]
    return first_split

In [96]:
# Calculate the duration of use in days for each user
def getDuration(created, closed):
    return closed-created

In [114]:
# Create a function that gets the hour of a datetime string
def getHour(s):
    first_split = s.split(' ')[1]
    return int(first_split.split(':')[0])

### Read each file seperately

Change the filename of the below path by copying a filename from above

In [187]:
with open('data/Phrasebook_Dump_FedeCornalba_YESGamification_2017_04_17.json') as json_data:
    d = json.load(json_data)
    
    # Created unlocked badges pandas dataframe
    unlocked_badges = [(badge['badgeName'],badge['createdOn']) for badge in d['badges'] for kk in badge.keys() if kk=='createdOn']
    df_badges = pd.DataFrame(unlocked_badges,columns=['Name', 'Date'])
    
    # Load phrasebook data into a pandas dataframe
    df_phrasebook = pd.DataFrame(d['phrasebook'])  
    
    # Load challenges data into a pandas dataframe
    df_challenges = pd.DataFrame(d['challenges'])
    
    # Load user data into a pandas dataframe
    df_user = pd.DataFrame(d['user'])
    df_user.columns = ['GamificationEnd', 'DateEnd', 'foreignLanguage', 'hasSwitchedVersion', 'level', 'motherLanguage', 'nickname', 'totalXP']
    # Merge with the install_log file
    df_user = pd.merge(df_user,df_all_users,on='nickname',how='inner')
    # Now create a new column named year and store the values of the above function
    df_user['DateEnd']= df_user['DateEnd'].apply(lambda x: getDate(x))
    df_user['DateEnd'] = pd.to_datetime(df_user['DateEnd'])
    df_user['DateStart'] = pd.to_datetime(df_user['DateStart'])
    df_user['daysUsed'] = df_user[['DateStart','DateEnd']].apply(lambda x: getDuration(*x), axis=1)
    # Rearrange user dataframe 
    df_user = df_user[['nickname','motherLanguage','foreignLanguage','GamificationStart','GamificationEnd','hasSwitchedVersion', 'DateStart', 'DateEnd', 'daysUsed', 'totalXP', 'level']]

### Check data for each user

In [188]:
df_user

,nickname,motherLanguage,foreignLanguage,GamificationStart,GamificationEnd,hasSwitchedVersion,DateStart,DateEnd,daysUsed,totalXP,level
0,FedeCornalba,GERMAN,RUSSIAN,1,1,1,2017-03-22,2017-04-11,20 days,420,4

In [189]:
df_phrasebook

,archived,correctCount,createdOn,foreignLangString,id,motherLangString
0,1,9,2017-03-22 16:05:26,жизнь,1,das leben
1,1,8,2017-03-22 16:08:03,имя,2,der name
2,1,3,2017-03-22 16:14:27,любовь,3,die liebe
3,1,7,2017-03-22 21:51:14,язык,4,die sprache
4,1,3,2017-03-23 22:54:18,пиво,5,das bier
5,0,0,2017-03-23 23:21:46,друг,6,der freund
6,1,7,2017-03-23 23:22:08,подруга,7,die freundin
7,1,5,2017-03-23 23:22:38,телефон,8,das handy
8,0,1,2017-03-23 23:24:12,окно,9,das fenster
9,1,7,2017-03-23 23:25:01,очки,10,die brille
10,1,4,2017-04-02 09:14:00,хрипота,11,die heiserkeit
11,1,5,2017-04-02 09:18:38,хриплый,12,heiser
12,1,4,2017-04-03 12:58:46,ленивец,13,der faulpelz​
13,0,1,2017-04-03 13:24:19,внешность обманчива,14,der schein trügt
14,0,2,2017-04-03 13:41:49,автостоянка,15,die raststätte
15,1,5,2017-04-07 14:29:54,невнимание,16,die missachtung
16,0,-1,2017-04-07 15:26:06,"отпускать, увольнять",17,entlassen
17,0,1,2017-04-08 13:16:34,"строка, строчка",18,die zeile
18,1,3,2017-04-08 13:20:21,"период, абзац, глава, купюра",19,der abschnitt
19,0,1,2017-04-08 13:38:53,вместо/за + кого/чего,20,anstelle
20,1,4,2017-04-08 15:05:22,"сообщение, рапорт, донесение",21,die meldung
21,0,2,2017-04-08 15:07:33,"доля, сочувствие, часть, интерес",22,der anteil
22,1,3,2017-04-12 15:53:29,собака,23,der hund
23,0,1,2017-04-12 15:57:20,дерьмо,24,die scheiße
24,1,4,2017-04-17 19:14:44,"здоровый, крепкий",25,rüstig

In [190]:
df_challenges

     correct            createdOn   id  phraseId
0          1  2017-03-22 16:08:14    1         1
1          1  2017-03-22 16:08:21    2         2
2          1  2017-03-22 21:51:32    3         1
3          1  2017-03-22 21:51:45    4         2
4          1  2017-04-08 13:20:49    5         1
5          1  2017-04-08 13:20:58    6         4
6          0  2017-04-08 13:21:16    7        18
7          1  2017-04-08 13:39:12    8        10
8          1  2017-04-08 13:39:21    9         9
9          1  2017-04-08 13:39:30   10         8
10         1  2017-04-08 15:07:57   11        12
11         1  2017-04-08 15:08:20   12        20
12         1  2017-04-08 15:08:29   13         2
13         1  2017-04-08 15:08:39   14         7
14         0  2017-04-08 15:08:48   15        16
15         1  2017-04-08 15:09:09   16         2
16         1  2017-04-08 15:09:22   17        10
17         1  2017-04-11 01:18:55   18        10
18         1  2017-04-11 01:21:13   19        22
19         1  2017-04-11 01:22:36   20        10
20         1  2017-04-11 01:23:07   21        12
21         1  2017-04-11 01:23:17   22         5
22         1  2017-04-11 01:23:31   23        16
23         1  2017-04-11 01:23:40   24         8
24         1  2017-04-11 01:23:49   25         4
25         1  2017-04-11 01:24:51   26         4
26         1  2017-04-11 01:25:04   27         1
27         1  2017-04-11 01:25:14   28        22
28         1  2017-04-11 01:25:28   29        13
29         1  2017-04-11 01:25:41   30         3
..       ...                  ...  ...       ...
71         1  2017-04-17 19:16:52   72         3
72         1  2017-04-17 19:17:17   73        21
73         1  2017-04-17 19:17:47   74        10
74         1  2017-04-17 19:17:57   75        16
75         1  2017-04-17 19:18:06   76        16
76         1  2017-04-17 19:18:16   77        25
77         1  2017-04-17 19:18:52   78        15
78         1  2017-04-17 19:18:58   79         5
79         1  2017-04-17 19:19:25   80        23
80         1  2017-04-17 19:19:33   81         4
81         1  2017-04-17 19:20:09   82        15
82         1  2017-04-17 19:20:14   83         4
83         1  2017-04-17 19:20:22   84        21
84         1  2017-04-17 19:20:29   85         2
85         1  2017-04-17 19:20:39   86        11
86         0  2017-04-17 19:21:27   87        14
87         1  2017-04-17 19:23:08   88        13
88         1  2017-04-17 19:23:15   89        23
89         1  2017-04-17 19:24:03   90        19
90         1  2017-04-17 19:24:08   91         8
91         1  2017-04-17 19:24:20   92        25
92         1  2017-04-17 19:24:27   93         7
93         1  2017-04-17 19:24:36   94        25
94         1  2017-04-17 19:24:44   95         1
95         0  2017-04-17 19:25:06   96        20
96         1  2017-04-17 19:25:20   97        10
97         1  2017-04-17 19:25:29   98         5
98         1  2017-04-17 19:25:40   99        18
99         1  2017-04-17 19:26:12  100        13
100        1  2017-04-17 19:26:26  101        21

[101 rows x 4 columns]

In [191]:
df_badges

              Name                 Date
0       Doing Good  2017-04-11 01:26:59
1       Keep Going  2017-04-11 01:25:04
2        Night Owl  2017-04-12 23:31:45
3         No Sleep  2017-04-11 01:23:17
4  Extreme Stamina  2017-04-11 01:26:10

### Start analysing

We can analyze a frequency of activity both for adding words and practicing, by clearly distinguishing users with/without gamification.    
Users with good data are:
* TheArk
* MarioStefano
* FedeCornalba
* GiadaConfortola

We will start with FedeCornalba as he is the only complete user of our dataset.

In [193]:
def avg_input(gamification):
    if gamification == 'NO':
        gamification = 'WITHOUT'
    else:
        gamification = 'WITH'
    
    # Split date in a seperate column
    df_phrasebook['Date']= df_phrasebook['createdOn'].apply(lambda x: getDate(x))
    df_phrasebook['Date'] = pd.to_datetime(df_phrasebook['Date'])

    # Create a variable that stores the total number of days from first to the last input
    diff = df_phrasebook['Date'].iloc[-1] - df_phrasebook['Date'].iloc[0]
    diff = (diff / np.timedelta64(1, 'D')).astype(int)
    
    # Count the average input per day without gamification
    avg_input = len(df_phrasebook)/float(diff)
    return 'The average phrase input per day of user %s %s gamification is %.2f' % (df_user.nickname[0], gamification, avg_input)

In [186]:
avg_input('NO')

u'The average phrase input per day of user FedeCornalba WITHOUT gamification is 1.29'

Now if we go up and change the input file to the one with gamification and calculate the same average we get the following:

In [194]:
avg_input('YES')

u'The average phrase input per day of user FedeCornalba WITH gamification is 0.96'

## Discussion

It is just an initial version of the analysis. I will further investigate and create plots at a later stage but first I need to know if I am in the correct path. Please add any comments for improvemets and later analysis here. As you see the tables are a bit complicated to analyze as we don't have enough data for a summary for all users. Play around by checking all JSON filenames.